@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  background-color: #9999ff;
  padding-top: 10px;
  padding-right: 6px;
  padding-bottom: 10px;
  padding-left: 6px;
  margin: 20px auto;
  text-align: center;
}
body h1 {
  font: "Thasadith", cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  padding-top 20px;
}
body p {
  font: "Open Sans", sans-serif;
  color: #000033;
  font-size: 18px;
}